    /* Hide arrows in WebKit-based browsers (Chrome, Safari) */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; /* Remove any default margins */
    }

    /* Hide arrows in Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    /* Hide arrows in Internet Explorer */
    input[type="number"]::-ms-inner-spin-button,
    input[type="number"]::-ms-outer-spin-button {
      -ms-appearance: none;
    }